 /* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.2%;
}  */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/sqirtle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
}
.titulo{
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
    
}

.subtitulo{
    color: white;
    font-size: 20px;
    
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon:hover{
    cursor: pointer;
}
.tarjeta-de-mokepon img{
    width: 80px;
    
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
  }